.VideoPreview {
  position: relative;
  width: 100%;
  color: white;
  cursor: pointer;
}
.VideoPreview__image img {
  display: block;
  width: 100%;
  border-radius: 12px;
}
.VideoPreview__duration {
  position: absolute;
  right: 8px;
  top: 155px;
  font-size: 1.2rem;
  background-color: black;
  padding: 4px;
  border-radius: 6px;
}
.VideoPreview__info {
  display: grid;
  height: 94px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
.info__channel-logo {
  place-self: center;
}
.info__channel-logo img {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.info__video-title {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  white-space: normal;
  grid-column: 2 / 5;
  text-align: left;
  font-size: 1.4rem;
  align-self: center;
  text-overflow: ellipsis;
}
.info__data {
  grid-column: 2 / 5;
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 4px;
  color: #aaaaaa;
}
.data__views::after {
  content: "•";
  margin: 0 4px;
}
