.CategoriesBar {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  padding-bottom: 12px;
}
.CategoriesBar::-webkit-scrollbar {
  height: 4px;
}
.CategoriesBar::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 4px;
}
.CategoriesBar p {
  color: #f1f1f1;
  background-color: #272727;
  font-size: 1.4rem;
  padding: 8px 12px;
  height: 32px;
  min-width: fit-content;
  border-radius: 12px;
  cursor: pointer;
}
